:root {
  --color-Red-primary: #2F2E83;
  --color-Red-primary-light: #fe4c4a;
  --color-Red-primary-dark: #b13533;
  --color-Brown-Red: #FF375C;
  --color-Light: #b53233;
  --color-Dark: #610000;
  --color-Green: #FF375C;
  --color-Light: #a6b87a;
  --color-Dark: #4c5c27;
  --color-Red-primary: #2F2E83;
  --color-Brown: #252266;
  --color-Light: #66423d;
  --color-Dark: #260b07;
  --color-Grey-blue: #6c6f74;
  --color-Light: #888b8f;
  --color-Dark: #404245;
  --color-Milk: #f1ece0;
  --color-Yellow: #FDB430;
  --color-Yellow-L: #FFE8A0;
  --color-Green-D: #177501;
  --color-Red-2: #942011;
  --color-Red-2L: #F76D50;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Brown);
  background-image: linear-gradient(to right bottom, var(--color-Red-primary), var(--color-Red-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Milk);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  font-size: 1.6rem;
  height: 7rem;
  background-color: #f1e8e0;
  border-bottom: 1px solid var(--color-Milk);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-Brown);
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.droplets-view {
  background-color: var(--color-Milk);
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: #f1e8e0;
  border-bottom: 1px solid #f1e8e0; }

.description {
  font-size: 1.4rem;
  background-color: var(--color-Red-primary);
  box-shadow: var(--shadow-light);
  border-radius: 3px;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  color: #f1e8e0; }

.user-reviews {
  background-color: green;
  flex: 1; }

.logo {
  height: 6.25rem;
  margin-left: 2rem;
  fill: var(--color-Brown); }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-Milk);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-Green); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-Brown); }
  .search__input:focus + .search__button {
    background-color: var(--color-Green); }
  .search__button {
    border: none;
    background-color: var(--color-Milk); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Brown); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *hover {
    background-color: var(--color-Milk); }
  .user-nav__icon-box {
    position: relative;
    width: 80px; }
  .user-nav__icon {
    height: 2.25rem;
    widows: 2.25rem;
    fill: var(--color-Brown); }
  .user-nav__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-Brown-Red);
    color: #f1e8e0;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-Green);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-Milk); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-Milk);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 4rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-Milk);
  text-align: center;
  padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 20%;
    display: block;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-Green); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 2rem;
    height: 2rem;
    fill: --color-Red-primary; }
  .overview__location {
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-Green);
    color: #f1e8e0;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: 1rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-Red-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-Brown-Red); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    background-color: var(--color-Green);
    -webkit-mask-image: url(../img/arrow-right2.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/arrow-right2.svg);
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-Green);
  align-items: center; }
  .recommend__count {
    margin-right: auto;
    margin-bottom: .75rem; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1.75px solid #f1e8e0; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
