
:root {
    --color-Red-primary: #2F2E83;// #f49487;               //#fe4c4a;            
    --color-Red-primary-light: #fe4c4a; 
    --color-Red-primary-dark: #b13533;

    --color-Brown-Red: #FF375C;                 //##A30001;                
    --color-Light: #b53233;
    --color-Dark: #610000;


    --color-Green: #FF375C;                     //#809A41;                    
    --color-Light: #a6b87a;
    --color-Dark: #4c5c27;
    // color

    --color-Red-primary: #2F2E83;// #f49487;               //#fe4c4a;            
    --color-Brown: #252266;                     //#40130D;                     
    --color-Light: #66423d;
    --color-Dark: #260b07;

    --color-Grey-blue: #6c6f74;                 
    --color-Light: #888b8f;
    --color-Dark: #404245;

    --color-Milk: #f1e8e0; // #f1ece0;


    --color-Yellow: #FDB430;

    --color-Yellow-L: #FFE8A0;

    --color-Green-D: #177501;

    --color-Red-2: #942011;

    --color-Red-2L: #F76D50;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.1);

}

$bp-largest: 75em;      //1200px 
$bp-large: 68.75em;     //1100px
$bp-medium: 56.25em;    //900px
$bp-small: 37.5em;      //600px
$bp-smallest: 31.25em;  //500px

* {
    margin: 0;
    padding: 0;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

html {
    box-sizing: border-box;
    
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   line-height: 1.6;
   color: var(--color-Brown);
   background-image: linear-gradient(to right bottom, var(--color-Red-primary), var(--color-Red-primary-light));
   background-size: cover;
   background-repeat: no-repeat;

   min-height: 100vh;
   
}