.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-Milk);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #f1e8e0;
    border-bottom: var(--color-Milk);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-Brown);

    flex: 0 0 18%;
}

.droplets-view {
    background-color: #f1e8e0;
    flex: 1;

}